* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

// NAVBAR
.navbar {
  background-color: black;
  color: white;
  width: 100%;
  height: 75px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 6px -10px #777;
}

.navbar li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 20px;
}

.navbar li a:hover {
  color: #e84e3d;
}

.navbar li a:active {
  color: white;
}

// INTRO

.intro__container {
  width: 100%;
  text-align: center;
}

.intro__logo {
  width: 70%;
  margin-top: 8%;
}

.intro__text {
  margin-top: 2%;
  margin-bottom: 3%;
  padding-bottom: 6%;
}

// HOME

.home_tittle {
  text-align: center;
  padding: 5%;
}

.home__container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10%;
}

.home__item-list {
  width: 32%;
  height: auto;
  position: relative;
  background-color: white;
  padding-bottom: 3%;
  border-radius: 4px;
  margin: 5px;
  box-shadow: 1px 2px 2px #cccccc;
}

.card-images {
  position: relative;
  margin: 10px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

// USERS
.user__container {
  width: 100%;
}
.user__container-red {
  width: 100%;
  height: 200px;
  background: #e84e3d;
}

.user-image {
  margin-top: 100px;
  margin-left: 80px;
  // border-radius: 50%;
  // width: 200px;
  // height: 200px;
  clip-path: circle(35% at 50% 50%);
}
.user__profile {
  width: 100%;
  margin-top: 130px;
  display: flex;
}
.user__profile-info {
  width: 25%;
  margin-left: 20px;
}
.user__profile-form {
  width: 50%;
  text-align: center;
  display: inline-block;
  align-self: flex-end;
}
.button {
  border: 1px solid black;
  margin-left: 20px;
  border-radius: 25px;
  padding: 5px 60px;
  text-align: center;
  transition-duration: 0.4s;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background-color: black;
  color: #e84e3d;
}
.file {
  margin-left: 105px;
  cursor: pointer;
}

// CATEGORY 
.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}
.filter-btn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}

// FOOTER

footer {
  width: 100%;
  height: 75px;
  background: black;
  margin-top: 3%;
  position: fixed;
  bottom: 0;
}

.fab {
  color: #e84e3d;
  font-size: 2rem;
  padding: 5px;
}

footer p {
  width: 100%;
  height: 75px;
  background: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************
*    tablet   *
**************/
@media screen and (min-width: 601px) and (max-width: 799px) {
  .home__container {
    width: 90%;
  }
}

/**************
*    Mobile   *
**************/
@media screen and (max-width: 600px) {
  .home__container {
    width: 95%;
  }
}
