* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

// NAVBAR
.navbar {
  background-color: black;
  color: white;
  width: 100%;
  height: 75px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 6px -10px #777;
}

.navbar li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 20px;
}

.navbar li a:hover {
  color: #e84e3d;
}

.navbar li a:active {
  color: white;
}

// INTRO

.intro__container {
  width: 100%;
  text-align: center;
}

.intro__logo {
  width: 70%;
  margin-top: 8%;
}

.intro__text {
  margin-top: 2%;
  margin-bottom: 3%;
  padding-bottom: 6%;
}

// HOME

.home_tittle {
  text-align: center;
  padding: 5%;
}

.home__container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10%;
}

.home__item-list {
  width: 32%;
  height: auto;
  position: relative;
  background-color: white;
  padding-bottom: 3%;
  border-radius: 4px;
  margin: 5px;
  box-shadow: 1px 2px 2px #cccccc;
}

.card-images {
  position: relative;
  margin: 10px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

// USERS
.user__container {
  width: 100%;
}
.user__container-red {
  width: 100%;
  height: 200px;
  background: #e84e3d;
}

.user-image {
  margin-top: 100px;
  margin-left: 80px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.inputFields {
  text-align: right;
}
.user__profile {
  width: 100%;
  margin-top: 10%;
  display: flex;
}
.user__profile-info {
  width: 15%;
  margin-left: 20px;
  
}
.use__profile-middle {
  width: 70%;
}
.user__profileImage-form {
  width: 15%;
  padding: 5px;
  margin-top: 50px;
  margin-right: 5%;
  box-sizing: border-box;
  height: 450px;
  color: white;
  transition-duration: 0.8s;
}
.user__profileImage-form:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.Image-Upload {
  position: relative;
  display: inline-block;
}

.Image-Upload .Image-Upload-Text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  margin-top: 75%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.Image-Upload:hover .Image-Upload-Text {
  visibility: visible;
}
.edit {
  background-color: black;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
.edit:hover {
  color: #e84e3d;
}
.file {
  cursor: pointer;
}
// FOOTER

footer {
  width: 100%;
  height: 75px;
  background: black;
  margin-top: 3%;
  position: fixed;
  bottom: 0;
}

.fab {
  color: #e84e3d;
  font-size: 2rem;
  padding: 5px;
}



footer p {
  width: 100%;
  height: 75px;
  background: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************
*    tablet   *
**************/
@media screen and (min-width: 601px) and (max-width: 799px) {
  .home__container {
    width: 90%;
  }
}

/**************
*    Mobile   *
**************/
@media screen and (max-width: 600px) {
  .home__container {
    width: 95%;
  }
}
