* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

.navbar {
  background-color: black;
  color: white;
  width: 100%;
  height: 75px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 6px -10px #777;
}

.navbar li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 20px;
}

.navbar li a:hover {
  color: #e84e3d;
}

.navbar li a:active {
  color: white;
}

.intro__container {
  width: 100%;
  text-align: center;
}

.intro__logo {
  width: 70%;
  margin-top: 8%;
}

.intro__text {
  margin-top: 2%;
  margin-bottom: 3%;
  padding-bottom: 6%;
}

.home_tittle {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1%;
}

.home__container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10%;
}

.home__item-list {
  width: 32%;
  height: auto;
  position: relative;
  background-color: white;
  padding-bottom: 3%;
  border-radius: 4px;
  margin: 5px;
  box-shadow: 1px 2px 2px #cccccc;
  padding: 10px;
}

.home__item-list p {
  text-align: center;
  font-weight: 700;
  padding: 5%;
}

.home__item-list:hover {
  box-shadow: 2px 4px 4px #e84e3d;
}

.card-images {
  position: relative;
  margin: 10px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.user__container {
  display: flex;
  height: auto;
  flex-direction: row;
  margin: 0;
}

.user__container-redRow {
  width: 20%;
  flex: 1;
}

.user__container-red {
  width: 60%;
  height: 100%;
  background: #e84e3d;
}

.user-image {
  margin-top: 100px;
  clip-path: circle(35% at 50% 50%);
}

.user__profile {
  flex-direction: row;
  width: 75%;
  height: 80vh;
  padding: 5%;
  margin-top: 100px;
  border-right: 3px solid #e84e3d;
}

.user__profile h3 {
  font-weight: 800;
  padding-bottom: 2px;
}

.user__profile-info {
  margin-top: -100px;
  width: 100%;
  padding: 2%;
}

.user__profile-info h2 {
  text-align: center;
  margin-bottom: 10%;
  color: white;
  background: #3097aa;
  padding: 1%;
}

.socialmedia {
  margin-top: 10%;
  padding: 1%;
  text-align: center;
}

.fab {
  color: black;
  font-size: 2rem;
  padding: 0% 2% 0% 2%;
}

.fab:hover {
  color: #c4c4c4;
}

.inputFields {
  text-align: right;
}

.use__profile-comment {
  width: 70%;
  margin-top: 100px;
  padding-left: 3%;
  border-left: 1px solid #e84e3d;
  margin-right: 3%;
}

.use__profile-comment h2 {
  text-align: center;
  margin-bottom: 10%;
  color: white;
  background: #3097aa;
  padding: 1%;
}

.user__profileImage-form {
  margin-left: auto;
  width: 70%;
  flex-direction: column;
  padding: 20px;
  margin-top: 10px;
  margin-right: 5%;
  box-sizing: border-box;
  border-radius: 12px;
  height: 450px;
  color: white;
  transition-duration: 0.8s;
  border: 1px solid green;
}

.user__profileImage-form:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.imageInstructions {
  text-align: center;
}

.imageInstructions:hover {
  color: #e84e3d;
  background-color: black;
  border-radius: 5px;
  padding: 5px 5px;
}

.Image-Upload {
  position: relative;
  display: inline-block;
  cursor: help;
}

.Image-Upload .Image-Upload-Text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  margin-top: 75%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.Image-Upload:hover .Image-Upload-Text {
  visibility: visible;
  color: #e84e3d;
  padding: 7px;
  font-weight: bold;
  font-size: 14px;
}

.user__profileUpdate-form input {
  width: 100%;
}

.edit {
  background-color: black;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.edit:hover {
  color: #e84e3d;
}

.file {
  cursor: pointer;
}

.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
  border: 1px solid #f3f3f3;
  border-radius: 5%;
}

.filter-btn:hover {
  border-bottom: 1px solid #e84e3d;
}

footer {
  width: 100%;
  height: 75px;
  background: black;
  margin-top: 3%;
  position: fixed;
  bottom: 0;
}

footer p {
  width: 100%;
  height: 75px;
  background: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************
*    tablet   *
**************/
@media screen and (min-width: 601px) and (max-width: 799px) {
  .home__container {
    width: 90%;
    border: 1px solid orange;
  }

  .user__container {
    flex-direction: column;
    width: 100%;
    border: 1px solid red;
  }

  .user__profile {
    width: 100%;
    padding: 5%;
    border: 1px solid green;
  }

  .user-image {
    margin-left: 20%;
    clip-path: circle(35% at 50% 50%);
  }

  .user__container-redRow {
    width: 100%;
    height: 500px;
    border: 1px solid red;
  }

  .user__container-red {
    width: 100%;
    height: 50%;
    border: 1px solid #68356e;
  }
}
/**************
*    Mobile   *
**************/
@media screen and (max-width: 600px) {
  .home__container {
    width: 95%;
    border: 1px solid orange;
  }

  .user__container {
    flex-direction: column;
    width: 100%;
    border: 1px solid red;
  }

  .user__profile {
    width: 100%;
    padding: 5%;
    border: 1px solid green;
  }

  .user__container-redRow {
    width: 100%;
    height: 500px;
    border: 1px solid red;
  }

  .user__container-red {
    width: 100%;
    height: 50%;
    border: 1px solid #68356e;
  }

  .user-image {
    clip-path: circle(35% at 50% 50%);
  }
}

/*# sourceMappingURL=styles.css.map*/